.about-farms-page{
    
    text-align: center;
    padding: 100px 0 ;
    background:
    linear-gradient(rgba(61, 71, 66, 0.8),rgba(61, 71, 66, 0.8)),
    url('../fa-blog-new-farmers.jpg') 50% 50%/cover no-repeat; 
    height: 70vh;
    display:flex;
    align-items: center;
}
.about-farms-slogan{
    padding-bottom: $title_bottom_padding;
}
