@import 'variables.scss';
h1{
    font-size: $h1_size;
    color: white;
    
}
h2{
    color: white;
    font-size: $h2_size;
}
h3{
    font-size: $h3_size;
    color: white;
}
p{
    color: rgb(236, 236, 236);
    font-size: $p_size;
}